.has-search .form-control {
    padding-left: 2.7rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #FFFFFF;
  }
  
  .inputClass::placeholder {
    color: #FFFFFF; /* Set the desired color for the placeholder */
  }

.jkt {
    width: 170px;
    height: 40px;
  }