
  <div class="fullscreen-image">
    <img src="../../assets/images/land.png" alt="Full Screen Image" />
    <div class="content">
     <div class="p-2">
      <img src="../../assets/images/JKT_Logo.png" class="jkt" alt="">
     </div>
     <div class="p-2 mt-3">
      <p class="para">Product <span class="spa">Ideation</span> Platform</p>
      <p class="sub py-3">powered by Generative AI</p>
      <button type="button" class="btn btn-light" routerLink="/landing">Let's Start</button>
     </div>
    </div>
  </div>
  