.card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E5F2;
    border-radius: 4px;
    opacity: 0.8;
}
.range {
    width: 100%;
    height: 7px;
    /* background: #eeeff1 0% 0% no-repeat padding-box; */
    background: #B0B0B0;
    border-radius: 7px;
}

.ranged {
    width: 100%;
    height: 7px;
    /* background: #fff 0% 0% no-repeat padding-box; */
    background: #E7E7E7;
    border-radius: 7px;
}

.rangeValueRed,
.rangeValueYellow,
.rangeValueGreen {
    height: 7px;
    border-radius: 7px;
    position: relative;
    top: -7px;
    color:red;
}
.rangeValueRed {
    background: #3F7EFF 0% 0% no-repeat padding-box;
}

.rangeValueYellow {
    background: #fba824 0% 0% no-repeat padding-box;
}

.rangeValueGreen {
    background: #42b977 0% 0% no-repeat padding-box;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
.card1{
    border-radius: 4px;
    background: linear-gradient(293deg, #FAB7BF 0%, #FFC7CB 100%);

}
h1{
    color: #222;
font-size: 40px;
font-family: Outfit;
font-weight: 700;
}
p{
    color: #484848;
font-size: 16px;
font-family: Outfit;
font-weight: 500;
}
.card2{
    border-radius: 4px;
    background: linear-gradient(293deg, #ABDDF7 0%, #B8EAF9 100%);

}
.card3{
    border-radius: 4px;
background: linear-gradient(293deg, #FDDF91 0%, #F5F3B8 100%);
}
.card4{
    border-radius: 4px;
    background: linear-gradient(293deg, #C9E9E5 0%, #E4FAF9 100%);

}
h2{
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
font-size: 20px;
font-family: Outfit;
font-weight: 500;
}
h4{
    color: #222;
font-size: 16px;
font-family: Outfit;
font-style: normal;
font-weight: 500;
}
.sticky-bottom{
    position:fixed;
    z-index:1;
    bottom:1px;
   background-color: white;
   width:83%;
   /* .btn{
   display: flex;
    justify-content: end;
   } */
   display: flex;
    justify-content: end;
   
}
.btn{
    background-color: #ECF2FF;
    border: 1px solid #3F7FFF;
    color:#3F7FFF;
    /* width: 113px; */
height: 40px;
border-radius: 0px;
}
.dashboard{
    font-size: 20px;
font-family: Outfit;
font-style: normal;
font-weight: 600;
}
.yes{
    color: #119446;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 700;
}

.sub{
    color: #484848;
font-family: Outfit;
font-size: 12px;
font-style: normal;
font-weight: 500;
}
.no{
    color: #DC4632;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
.someWhat{
    color: #F5A802;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5);  */
  }
  
  .loading-bar {
    background-color: #ffffff; /* Background color of the loading bar */
    padding: 10px;
    border-radius: 4px;
  }
  #loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 15px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .mat-progress-bar {
        width: 300px; /* Adjust the desired width */
      }