<div class="main">
    <h1 class="p-1"><b>Segment Characteristics Definition</b></h1>
    <mat-tab-group>
        <mat-tab label="First">
            <div class="card d-flex flex-row m-1" style="width:99%;">
                <div class="d-flex flex-column my-3 pt-5" style="width:19%">
                    <div style="display: flex;justify-content: center;">
                        <img src="../../assets/images/girl_p.png" class="" height="140" width="140" alt=""   >
                    </div>
                    <div class="p-2">
                        <div class="input-group" style="width:230px;">
                            <input type="text" style="display: flex;justify-content: center;" class="form-control" value="Self Obsessed Flamboyant">
                        </div>
                    </div>
                    <div class="p-2" style="display: flex;justify-content: center;">
                        <button style="width:230px;border:1px solid rgb(212, 212, 247)" *ngIf="!isMapped" type="button" class="btn btn-light">status: Yet to be Mapped</button>
                        <button style="width:230px;border:1px solid rgb(212, 212, 247); " *ngIf="isMapped" type="button" class="btn btn-info">status: Mapped</button>
                       
                    </div>
                    <div class="p-2" style="display: flex;justify-content: center;">
                        <button style="width:230px" *ngIf="!isMapped" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"> Map To Product Attribute</button>
                        <button *ngIf="isMapped" type="button" class="btn btn-info" data-bs-toggle="modal" style="width:230px;"
                            data-bs-target="#exampleModal"> Edit Mapped</button>
                    </div>
                </div>
                <div class="p-1 d-flex flex-column" style="width:26%">
                    <div class="d-flex flex-row mx-2 pt-2">
                        <h3><b>Segment Characteristics</b></h3>
                        <button style="height:30px; vertical-align: center;display:flex;align-items: center;" class="btn btn-success mx-2" (click)="addCharacteristic()">+</button>
                        <button  style="height:30px; vertical-align: center;display:flex;align-items: center;border:none;" class="btn btn-primary" (click)="saveData()">Save</button>
                    </div>
                    
                    <div *ngFor="let characteristic of segmentCharacteristics; let i = index" class="input-group m-2">
                        <input type="text" class="form-control" [(ngModel)]="segmentCharacteristics[i]">
                        <button class="btn btn-danger" style="background-color: rgb(236, 166, 166);" (click)="removeCharacteristic(i)">-</button>
                    </div>
                </div>
                <div class="p-1 d-flex flex-column" style="width:26%">
                    <div class="d-flex flex-row mx-2 pt-2">
                    <h3><b>Functional Need</b></h3>
                    <button style="height:30px; vertical-align: center;display:flex;align-items: center;" class="btn btn-success mx-2" (click)="addFunctionalNeed()">+</button>
                        <button  style="height:30px; vertical-align: center;display:flex;align-items: center;border:none;" class="btn btn-primary" (click)="saveData()">Save</button>
                    </div> 
                        <div *ngFor="let need of functionalNeeds; let i = index" class="input-group m-2">
                        <input type="text" class="form-control" [value]="need">
                        <button class="btn btn-danger" style="background-color: rgb(236, 166, 166);" (click)="removeFunctionalNeed(i)">-</button>
                    </div>
                   
                </div>
                <div class="p-1 d-flex flex-column" style="width:27%">
                    <div class="d-flex flex-row mx-2 pt-2">
                    <h3><b>Functional Need</b></h3>
                    <button style="height:30px; vertical-align: center;display:flex;align-items: center;" class="btn btn-success mx-2" (click)="addFunctionalNeed2()">+</button>
                    <button  style="height:30px; vertical-align: center;display:flex;align-items: center;border:none;" class="btn btn-primary" (click)="saveData()">Save</button>
                </div>
                    <div *ngFor="let need of functionalNeeds2; let i = index" class="input-group m-2">
                        <input type="text" class="form-control" [value]="need">
                        <button class="btn btn-danger" style="background-color: rgb(236, 166, 166);" (click)="removeFunctionalNeed2(i)">-</button>
                    </div>
                </div>
            </div> 
        </mat-tab>
        <mat-tab label="Second"> 
            <div class="card d-flex flex-row m-1" style="width:99%;">
                <div class="d-flex flex-column my-3 pt-5" style="width:19%">
                    <div style="display: flex;justify-content: center;">
                        <img src="../../assets/images/girl_p.png" class="" height="140" width="140" alt=""   >
                    </div>
                    <div class="p-2">
                        <div class="input-group" style="width:230px;">
                            <input type="text" style="display: flex;justify-content: center;" class="form-control" value="Self Obsessed Flamboyant">
                        </div>
                    </div>
                    <div class="p-2" style="display: flex;justify-content: center;">
                        <button style="width:230px;border:1px solid rgb(212, 212, 247)" *ngIf="!isMapped" type="button" class="btn btn-light">status: Yet to be Mapped</button>
                        <button style="width:230px;border:1px solid rgb(212, 212, 247); " *ngIf="isMapped" type="button" class="btn btn-info">status: Mapped</button>
                       
                    </div>
                    <div class="p-2" style="display: flex;justify-content: center;">
                        <button style="width:230px" *ngIf="!isMapped" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"> Map To Product Attribute</button>
                        <button *ngIf="isMapped" type="button" class="btn btn-info" data-bs-toggle="modal" style="width:230px;"
                            data-bs-target="#exampleModal"> Edit Mapped</button>
                    </div>
                </div>
                <div class="p-1 d-flex flex-column" style="width:26%">
                    <div class="d-flex flex-row mx-2 pt-2">
                        <h3><b>Segment Characteristics</b></h3>
                        <button style="height:30px; vertical-align: center;display:flex;align-items: center;" class="btn btn-success mx-2" (click)="addCharacteristic()">+</button>
                        <button  style="height:30px; vertical-align: center;display:flex;align-items: center;border:none;" class="btn btn-primary" (click)="saveData()">Save</button>
                    </div>
                    
                    <div *ngFor="let characteristic of segmentCharacteristics; let i = index" class="input-group m-2">
                        <input type="text" class="form-control" [(ngModel)]="segmentCharacteristics[i]">
                        <button class="btn btn-danger" style="background-color: rgb(236, 166, 166);" (click)="removeCharacteristic(i)">-</button>
                    </div>
                </div>
                <div class="p-1 d-flex flex-column" style="width:26%">
                    <div class="d-flex flex-row mx-2 pt-2">
                    <h3><b>Functional Need</b></h3>
                    <button style="height:30px; vertical-align: center;display:flex;align-items: center;" class="btn btn-success mx-2" (click)="addFunctionalNeed()">+</button>
                        <button  style="height:30px; vertical-align: center;display:flex;align-items: center;border:none;" class="btn btn-primary" (click)="saveData()">Save</button>
                    </div> 
                        <div *ngFor="let need of functionalNeeds; let i = index" class="input-group m-2">
                        <input type="text" class="form-control" [value]="need">
                        <button class="btn btn-danger" style="background-color: rgb(236, 166, 166);" (click)="removeFunctionalNeed(i)">-</button>
                    </div>
                   
                </div>
                <div class="p-1 d-flex flex-column" style="width:27%">
                    <div class="d-flex flex-row mx-2 pt-2">
                    <h3><b>Functional Need</b></h3>
                    <button style="height:30px; vertical-align: center;display:flex;align-items: center;" class="btn btn-success mx-2" (click)="addFunctionalNeed2()">+</button>
                    <button  style="height:30px; vertical-align: center;display:flex;align-items: center;border:none;" class="btn btn-primary" (click)="saveData()">Save</button>
                </div>
                    <div *ngFor="let need of functionalNeeds2; let i = index" class="input-group m-2">
                        <input type="text" class="form-control" [value]="need">
                        <button class="btn btn-danger" style="background-color: rgb(236, 166, 166);" (click)="removeFunctionalNeed2(i)">-</button>
                    </div>
                </div>
            </div> 
        </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
        <mat-tab label="Four"> Content 4</mat-tab>
        <mat-tab label="Five"> Content 5</mat-tab>
        <mat-tab label="Six"> Content 6</mat-tab>
    </mat-tab-group>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel"><b>Cluster1</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column" style="width:40%">
                        <div>
                            <h3><b>Segment Characteristics</b></h3>
                            <ul>
                                <li> Self Obsessed About Their Looks </li>
                                <li> Needs Continuous Validation of Their Good Looks </li>
                                <li> Healthy Affluent </li>
                                <li> Moderate affinity towards trial of new products</li>
                            </ul>
                        </div>
                        <div>
                            <h3><b>Functional Needs</b></h3>
                            <ul>
                                <li> Squeaky clean </li>
                                <li> Deposit Removal </li>
                            </ul>
                        </div>
                        <div>
                            <h3><b>Emotional Need</b></h3>
                            <ul>
                                <li> Likes being noticed </li>
                                <li> Likes being talked about </li>
                            </ul>
                        </div>

                    </div>
                    <div style="width:60%">
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">aroma</p>
                            <ng5-slider [(value)]="sliderValues[0]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">clean&nbsp;scalp</p>
                            <ng5-slider [(value)]="sliderValues[1]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">long&nbsp;lasting&nbsp;hold</p>
                            <ng5-slider [(value)]="sliderValues[2]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">maintainance</p>
                            <ng5-slider [(value)]="sliderValues[3]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">volume&nbsp;and&nbsp;bounce</p>
                            <ng5-slider [(value)]="sliderValues[4]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">special&nbsp;purpose</p>
                            <ng5-slider [(value)]="sliderValues[5]" [options]="sliderOptions"></ng5-slider>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="logAllSliderValues()">Next</button>
            </div>
        </div>
    </div>
</div>