<div class="main">
    <h1 class="p-1"><b>Segment Characteristics Definition</b></h1>
    <div class="card m-1 d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="p-2" style="width:90%"><button type="button" class="btn btn-light" style="border-radius: 18px;">Self Obsessed Flamboyant</button></div>
            <div class="p-2" style="width:10%"> <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Map Needs</button></div>

        </div>
        <div class="d-flex flex-row" style="width:100%">
            <div class="p-1 d-flex flex-column" style="width:33%">
               <h3><b>Segment Characteristics</b></h3>
               <label class="p-2 m-1" style="border:1px solid black">self obsessed about their looks</label>
               <label class="p-2 m-1" style="border:1px solid black">Need Continuous validation of ther good look</label>
               <label class="p-2 m-1" style="border:1px solid black">Highly Affluent</label>
               <label class="p-2 m-1" style="border:1px solid black">Moderate affinity towards trial of new products</label>
            </div>
            <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Squaky clean</label>
                <label class="p-2 m-1" style="border:1px solid black">Deposit Removal</label>
             </div>
             <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Likes being noticed</label>
                <label class="p-2 m-1" style="border:1px solid black">Likes being talked about</label>
             </div>
            
        </div>

    </div>

    <div class="card m-1 d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="p-2" style="width:90%"><button type="button" class="btn btn-light" style="border-radius: 18px;">Self Obsessed Flamboyant</button></div>
            <div class="p-2" style="width:10%"> <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Map Needs</button></div>

        </div>
        <div class="d-flex flex-row" style="width:100%">
            <div class="p-1 d-flex flex-column" style="width:33%">
               <h3><b>Segment Characteristics</b></h3>
               <label class="p-2 m-1" style="border:1px solid black">self obsessed about their looks</label>
               <label class="p-2 m-1" style="border:1px solid black">Need Continuous validation of ther good look</label>
               <label class="p-2 m-1" style="border:1px solid black">Highly Affluent</label>
               <label class="p-2 m-1" style="border:1px solid black">Moderate affinity towards trial of new products</label>
            </div>
            <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Squaky clean</label>
                <label class="p-2 m-1" style="border:1px solid black">Deposit Removal</label>
             </div>
             <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Likes being noticed</label>
                <label class="p-2 m-1" style="border:1px solid black">Likes being talked about</label>
             </div>
            
        </div>

    </div>
   
    <div class="card m-1 d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="p-2" style="width:90%"><button type="button" class="btn btn-light" style="border-radius: 18px;">Self Obsessed Flamboyant</button></div>
            <div class="p-2" style="width:10%"> <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Map Needs</button></div>

        </div>
        <div class="d-flex flex-row" style="width:100%">
            <div class="p-1 d-flex flex-column" style="width:33%">
               <h3><b>Segment Characteristics</b></h3>
               <label class="p-2 m-1" style="border:1px solid black">self obsessed about their looks</label>
               <label class="p-2 m-1" style="border:1px solid black">Need Continuous validation of ther good look</label>
               <label class="p-2 m-1" style="border:1px solid black">Highly Affluent</label>
               <label class="p-2 m-1" style="border:1px solid black">Moderate affinity towards trial of new products</label>
            </div>
            <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Squaky clean</label>
                <label class="p-2 m-1" style="border:1px solid black">Deposit Removal</label>
             </div>
             <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Likes being noticed</label>
                <label class="p-2 m-1" style="border:1px solid black">Likes being talked about</label>
             </div>
            
        </div>

    </div>

    <div class="card m-1 d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="p-2" style="width:90%"><button type="button" class="btn btn-light" style="border-radius: 18px;">Self Obsessed Flamboyant</button></div>
            <div class="p-2" style="width:10%"> <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Map Needs</button></div>

        </div>
        <div class="d-flex flex-row" style="width:100%">
            <div class="p-1 d-flex flex-column" style="width:33%">
               <h3><b>Segment Characteristics</b></h3>
               <label class="p-2 m-1" style="border:1px solid black">self obsessed about their looks</label>
               <label class="p-2 m-1" style="border:1px solid black">Need Continuous validation of ther good look</label>
               <label class="p-2 m-1" style="border:1px solid black">Highly Affluent</label>
               <label class="p-2 m-1" style="border:1px solid black">Moderate affinity towards trial of new products</label>
            </div>
            <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Squaky clean</label>
                <label class="p-2 m-1" style="border:1px solid black">Deposit Removal</label>
             </div>
             <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Likes being noticed</label>
                <label class="p-2 m-1" style="border:1px solid black">Likes being talked about</label>
             </div>
            
        </div>

    </div>
    
    <div class="card m-1 d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="p-2" style="width:90%"><button type="button" class="btn btn-light" style="border-radius: 18px;">Self Obsessed Flamboyant</button></div>
            <div class="p-2" style="width:10%"> <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Map Needs</button></div>

        </div>
        <div class="d-flex flex-row" style="width:100%">
            <div class="p-1 d-flex flex-column" style="width:33%">
               <h3><b>Segment Characteristics</b></h3>
               <label class="p-2 m-1" style="border:1px solid black">self obsessed about their looks</label>
               <label class="p-2 m-1" style="border:1px solid black">Need Continuous validation of ther good look</label>
               <label class="p-2 m-1" style="border:1px solid black">Highly Affluent</label>
               <label class="p-2 m-1" style="border:1px solid black">Moderate affinity towards trial of new products</label>
            </div>
            <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Squaky clean</label>
                <label class="p-2 m-1" style="border:1px solid black">Deposit Removal</label>
             </div>
             <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Likes being noticed</label>
                <label class="p-2 m-1" style="border:1px solid black">Likes being talked about</label>
             </div>
            
        </div>

    </div>

    <div class="card m-1 d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="p-2" style="width:90%"><button type="button" class="btn btn-light" style="border-radius: 18px;">Self Obsessed Flamboyant</button></div>
            <div class="p-2" style="width:10%"> <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Map Needs</button></div>

        </div>
        <div class="d-flex flex-row" style="width:100%">
            <div class="p-1 d-flex flex-column" style="width:33%">
               <h3><b>Segment Characteristics</b></h3>
               <label class="p-2 m-1" style="border:1px solid black">self obsessed about their looks</label>
               <label class="p-2 m-1" style="border:1px solid black">Need Continuous validation of ther good look</label>
               <label class="p-2 m-1" style="border:1px solid black">Highly Affluent</label>
               <label class="p-2 m-1" style="border:1px solid black">Moderate affinity towards trial of new products</label>
            </div>
            <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Squaky clean</label>
                <label class="p-2 m-1" style="border:1px solid black">Deposit Removal</label>
             </div>
             <div class="p-1 d-flex flex-column"  style="width:33%">
                <h3><b>Functional Need</b></h3>
                <label class="p-2 m-1" style="border:1px solid black">Likes being noticed</label>
                <label class="p-2 m-1" style="border:1px solid black">Likes being talked about</label>
             </div>
            
        </div>

    </div>

    <div style="display:flex; ">
        <button type="button" class="btn btn-primary">Next</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel"><b>Cluster1</b></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-row">
                  <div class="d-flex flex-column" style="width:40%">
                    <div>
                      <h3><b>Segment Characteristics</b></h3>  
                      <ul>
                        <li>  Self Obsessed About Their Looks </li>
                        <li>  Needs Continuous Validation of Their Good Looks </li>
                        <li>  Healthy Affluent </li>
                        <li> Moderate affinity towards trial of new products</li>
                      </ul>
                    </div>
                    <div>
                        <h3><b>Functional Needs</b></h3>  
                        <ul>
                          <li>  Squeaky clean </li>
                          <li>  Deposit Removal </li>
                        </ul>
                      </div>
                      <div>
                        <h3><b>Emotional Need</b></h3>  
                        <ul>
                          <li>  Likes being noticed </li>
                          <li>  Likes being talked about </li>
                        </ul>
                      </div>
               
                  </div>
                  <div style="width:60%">
                    <div class="slider-container d-flex flex-row">
                        <p class="pt-4 px-2">aroma</p>
                        <ng5-slider [(value)]="sliderValues[0]" [options]="sliderOptions"></ng5-slider>
                    </div>
                        <div class="slider-container d-flex flex-row">
                        <p class="pt-4 px-2">clean&nbsp;scalp</p>
                        <ng5-slider [(value)]="sliderValues[1]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                        <p class="pt-4 px-2">long&nbsp;lasting&nbsp;hold</p>
                        <ng5-slider [(value)]="sliderValues[2]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                        <p class="pt-4 px-2">maintainance</p>
                        <ng5-slider [(value)]="sliderValues[3]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                        <p class="pt-4 px-2">volume&nbsp;and&nbsp;bounce</p>
                        <ng5-slider [(value)]="sliderValues[4]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                        <p class="pt-4 px-2">special&nbsp;purpose</p>
                        <ng5-slider [(value)]="sliderValues[5]" [options]="sliderOptions"></ng5-slider>
                        </div>
                  </div>
            </div>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="logAllSliderValues()">Next</button>
        </div>
      </div>
    </div>
  </div>