<div class="main">
    <h1 class="px-2"><b>Segment Characteristics Definition</b></h1>
    <div class="mx-3">
    <div class="d-flex flex-row">
        <div class="p-1 card me-1 mb-3 rounded-0" style="width: 25%; height: 500px; overflow-y: auto; background-color: white">
            <ul class="list-group">
            <li class="list-group-item m-2 my-div" style="border: 1px solid grey; cursor: pointer;"
                    *ngFor="let segment of segments"
                    [class.selected]="segment === selectedSegment"
                    (click)="selectSegment(segment)">
            <div class="segment-item">
            <img class="m-1 rounded-pill" style="border-radius: 50%;" height="40" width="40" [src]="segment.image">
            <span><b>{{ segment.name }}</b></span>
            </div>
            </li>
            </ul>
            </div>
    <div class="p-1" style="width: 75%">
   <div class="card d-flex flex-column" *ngIf="selectedSegment">
    <div class="d-flex flex-row"  >
        <div class="d-flex flex-row" style="width:50%">
            <div class="m-2">
             <img  [src]="selectedSegment.image"  class="rouned-pill" style="border-radius: 50%;" height="120" width="120"   >
            </div>
             <div class="input-group m-2 pt-5" style="width:230px;height:50px;align-items: center;">
                <!-- display ename -->
                 <input type="text" style="display: flex;justify-content: center;background-color: rgb(230, 230, 247);" class="form-control" [(ngModel)]="selectedSegment.ename">
                 
             </div>
         </div>
         <div class="d-flex flex-row" style="display:flex; justify-content: end;align-items:center;width:50%">
             <div class="p-2" style="display: flex;justify-content: center;height:53px">
                 <label style="width:300px;border:1px solid rgb(212, 212, 247);border-radius: 10px;align-items: center;display: flex;padding: 10px;" *ngIf="!isMapped" >status: Yet to be Mapped</label>
                 <label style="width:300px;border:1px solid rgb(212, 212, 247);border-radius: 10px;align-items: center;display: flex;padding: 10px;background-color:rgb(212, 212, 247) ;" *ngIf="isMapped" >status: Mapped to product attribute</label>   
             </div>
             <div class="p-2" style="display: flex;justify-content: center;height:50px">
                 <button style="width:230px" *ngIf="!isMapped" type="button" class="btn btn-primary" data-bs-toggle="modal"
                     data-bs-target="#exampleModal"> Map To Product Attribute</button>
                 <button *ngIf="isMapped" type="button" class="btn btn-light" data-bs-toggle="modal" style="width:230px;background-color: rgb(126, 126, 212);"
                     data-bs-target="#exampleModal"> Edit Mapped</button>
             </div>
         </div>
    </div>  
    <div class=" d-flex flex-row" style="width:100%" >
        
  <div class="1 mx-1" style="width:33%">
    <div class="d-flex flex-row mx-2 pt-2 pb-0 mb-0">

        
        <h3 style="width: 90%"><b>Segment Characteristics</b></h3>
        <button style="height: 30px; vertical-align: center;display:flex;align-items: center;justify-content: end;border-radius: 5px;background-color: rgb(230, 230, 247);"
                      class="btn btn-light mx-2" (click)="addCharacteristic()">+</button>
        </div>
        <div *ngFor="let characteristic of selectedSegment?.segmentCharacteristics; let i = index;"
                    class="input-group mx-1 my-3">
        <input type="text" class=" form-control" [value]="characteristic">
        <button class="btn btn-light" style="background-color: rgb(230, 230, 247);" (click)="removeCharacteristic(i)">-</button>
        </div>
  </div>
 <div class="2 mx-1" style="width:33%">
    <div class="d-flex flex-row mx-2 pt-2">
        <h3 style="width: 90%"><b>Functional Need</b></h3>
        <button style="height: 30px; vertical-align: center;display:flex;align-items: center;justify-content: end;border-radius: 5px;background-color: rgb(230, 230, 247);"
                      class="btn btn-light mx-1 my-3" (click)="addFunctionalNeed()">+</button>
        </div>
        <div *ngFor="let need of selectedSegment?.functionalNeeds; let i = index" class="input-group m-1">
        <input type="text" class="form-control" [value]="need">
        <button class="btn btn-light" style="background-color: rgb(230, 230, 247);" (click)="removeFunctionalNeed(i)">-</button>
        </div>
 </div>
   <div class="3 mx-2" style="width:33%">
    <div class="d-flex flex-row mx-2 pt-2">
        <h3 style="width: 90%"><b>Emotional Need</b></h3>
        <button style="height: 30px; vertical-align: center;display:flex;align-items: center;justify-content: end;border-radius: 5px;background-color: rgb(230, 230, 247);"
                      class="btn btn-light mx-2" (click)="addFunctionalNeed2()">+</button>
        </div>
        <div *ngFor="let need of selectedSegment?.functionalNeeds2; let i = index" class="input-group mx-1 my-3">
        <input type="text" class="form-control" [value]="need">
        <button class="btn btn-light" style="background-color: rgb(230, 230, 247);" (click)="removeFunctionalNeed2(i)">-</button>
        </div>
   </div>
    </div>
</div>
<div class="d-flex flex-row" style="display:flex;justify-content: end; ">
    <div class="px-3 pt-3" style="display:flex;justify-content: end; cursor: pointer;"  >
     <img src="../../assets/images/chatBot.jpg" class="rouned-pill" style="border-radius: 50%;" height="50" width="50" alt="" data-bs-toggle="modal" data-bs-target="#myModal2" >
    </div>
     <div class="p-2 mt-3" style="display:flex;justify-content: end;height:50px;align-items: center; ">
         <button type="button" class="btn btn-primary" routerLink="/whitespaceAnalysis" >Next</button>
     </div>
 </div>
    </div>
    </div>
   
    </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel"><b>Cluster1</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column" style="width:40%">
                        <div>
                            <h3 class="py-0 my-0"><b>Segment Characteristics</b></h3>
                            <ul  *ngFor="let characteristic of selectedSegment?.segmentCharacteristics; let i = index;">
                                <li> {{characteristic }}</li>
                                
                            </ul>
                        </div>
                        <div>
                            <h3 class="py-0 my-0"><b>Functional Needs</b></h3>
                            <ul *ngFor="let need of selectedSegment?.functionalNeeds; let i = index" >
                                <li> {{need}} </li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="py-0 my-0"><b>Emotional Need</b></h3>
                            <ul *ngFor="let need of selectedSegment?.functionalNeeds2; let i = index" class="input-group mx-1 my-3">
                                <li>{{need}}  </li>
                            </ul>
                        </div>

                    </div>
                    <div style="width:60%">
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">aroma</p>
                            <ng5-slider [(value)]="sliderValues[0]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">clean&nbsp;scalp</p>
                            <ng5-slider [(value)]="sliderValues[1]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">long&nbsp;lasting&nbsp;hold</p>
                            <ng5-slider [(value)]="sliderValues[2]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">maintainance</p>
                            <ng5-slider [(value)]="sliderValues[3]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">volume&nbsp;and&nbsp;bounce</p>
                            <ng5-slider [(value)]="sliderValues[4]" [options]="sliderOptions"></ng5-slider>
                        </div>
                        <div class="slider-container d-flex flex-row">
                            <p class="pt-4 px-2">special&nbsp;purpose</p>
                            <ng5-slider [(value)]="sliderValues[5]" [options]="sliderOptions"></ng5-slider>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="logAllSliderValues()">Done</button>
            </div>
        </div>
    </div>
</div>


 <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="myModalLabel2" >
    <div class="modal-dialog" id="modal-dialog"  role="document">
      <div class="modal-content" id="modal-content">
        <div class="modal-header" style="background-color: silver;height:5em">
           <div class="d-flex flex-row pt-3">
            <div class="mr-2">
                <i class="bi bi-chevron-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                      </svg>
                </i>
            </div>
            <h3 class="modal-title" ><b>Chatbot Assistant</b></h3>
           </div>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         
        </div>
        <div class="modal-body">
            
                <div class="d-flex flex-column" style="display:flex;margin-left:5px;width:100%">
                 <label class="p-1 m-1" style="height:40px;background-color: rgb(226, 226, 245);align-items: center;display:flex; border-radius: 10px;width:70%" >What are you looking for?</label>
                 <label class="p-1 m-1" style="height:40px;background-color: rgb(226, 226, 245);align-items: center;display:flex;align-self: flex-end; border-radius: 10px;width:70%" >Looking for your help</label>
                 <label class="p-1 m-1" style="height:30px;background-color: rgb(226, 226, 245);align-items: center;display:flex; border-radius: 10px;width:20%" >...</label>
                </div>
       
      </div>
      <div class="modal-footer"style="background-color: silver;">
        
      
        <div style="width:100%" class="d-flex flex-row">
            <label style="text-align: start; width:90%"  > Type your message here</label>
            <i class="bi bi-send-fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                  </svg>
            </i>
        </div>
       
       
      
    </div>
    </div>
</div>
</div> 