<div class="main d-flex flex-column" id="analysisComponent">
<div class="px-3 my-0 py-0">
    <h1><b>Whitespace Analysis</b></h1>
</div>
<div class="mx-2 my-0 py-0" style="justify-content: center;width:100%">
    <table style="width:98%">
    <tr >
        <td rowspan="2" class="diagonal-cell" style="width:15em; height:2em; background-color: #d4e8fa;">
            <div class="top-segment d-flex flex-row" style="height:1em">
                     <h3><b>Segment Name</b></h3> <i class="bi bi-arrow-right-circle-fill px-2 pt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                          </svg>
                      </i>
            </div><hr>
            <div class="bottom-segment d-flex fle-row" style="height:1em">
                <h3><b>customer segment</b></h3><i class="bi bi-arrow-down-circle-fill px-2 pt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                      </svg>
                </i>
      </div>
            </td>
    <td colspan="2" style="background-color: #d4e8fa;height:30px">Clarifying Shampoo</td>
    <td colspan="2" style="background-color: #d4e8fa;height:30px">Neutralising Shampoo</td>
    <td colspan="1" style="background-color: #d4e8fa;height:30px">Chelating</td>
    <td colspan="2" style="background-color: #d4e8fa;height:30px">Keratin Shampoo</td>
    <td colspan="2" style="background-color: #d4e8fa;height:30px">Volumizing Shampoo</td>
    <td colspan="2" style="background-color: #d4e8fa;height:30px">Dry Shampoo</td>
    <td rowspan="2" style="width:6em; height:6em; background-color: #d4e8fa;">Score</td>
    </tr>
    <tr>
    <td style="background-color: #d4e8fa;height:30px">LM</td>
    <td style="background-color: #d4e8fa;height:30px">PREM</td>
    <td style="background-color: #d4e8fa;height:30px">LM</td>
    <td style="background-color: #d4e8fa;height:30px">PREM</td>
    <td style="background-color: #d4e8fa;height:30px">PREM</td>
    <td style="background-color: #d4e8fa;height:30px">Jun</td>
    <td style="background-color: #d4e8fa;height:30px">Jul</td>
    <td style="background-color: #d4e8fa;height:30px">Aug</td>
    <td style="background-color: #d4e8fa;height:30px">Sept</td>
    <td style="background-color: #d4e8fa;height:30px">Oct</td>
    <td style="background-color: #d4e8fa;height:30px">Nov</td>  
    </tr>
    <tr >
        <td style="width:15em;background-color: #d4e8fa;height:30px">
           Self Obsessed Flamboyant
        </td>
        <td *ngFor="let value of flamboyant; let i = index" [ngStyle]="{ 'background-color': getBackgroundColor(value) }">
           <ng-container *ngIf="i === flamboyant.length - 1">{{value}}</ng-container>
           </td>
    </tr>
    <tr>
        <td style="width:15em;background-color: #d4e8fa;height:30px">
            Neutralising Shampoo
        </td>
        <td colspan="11" style="background-color: rgb(241, 232, 232);height:30px;text-align: center;">
            White Space
        </td>
        <td *ngFor="let value of neutralising; let i = index" [ngStyle]="{ 'background-color': getBackgroundColor(value) }">
            <ng-container *ngIf="i === neutralising.length - 1">{{value}}</ng-container>
            </td>
    </tr>
    <tr >
        <td style="width:15em;background-color: #d4e8fa;height:30px">
           Out an Out Purist
        </td>
        <td *ngFor="let value of purist; let i = index" [ngStyle]="{ 'background-color': getBackgroundColor(value) }">
            <ng-container *ngIf="i === purist.length - 1">{{value}}</ng-container>
            </td>
    </tr>
    <tr >
        <td style="width:15em;background-color: #d4e8fa;height:30px">
           Focused Sensible
        </td>
        <td *ngFor="let value of sensible; let i = index" [ngStyle]="{ 'background-color': getBackgroundColor(value) }">
            <ng-container *ngIf="i === sensible.length - 1">{{value}}</ng-container>
            </td>
    </tr>
    <tr >
        <td style="width:15em;background-color: #d4e8fa;height:30px">
           Frugal Aspirant
        </td>
        <td *ngFor="let value of aspirant; let i = index" [ngStyle]="{ 'background-color': getBackgroundColor(value) }">
            <ng-container *ngIf="i === aspirant.length - 1">{{value}}</ng-container>
            </td>
    </tr>
    <tr >
        <td style="width:15em;background-color: #d4e8fa;height:30px">
           Perpetual Hoverer
        </td>
        <td *ngFor="let value of hoverer; let i = index" [ngStyle]="{ 'background-color': getBackgroundColor(value) }">
            <ng-container *ngIf="i === hoverer.length - 1">{{value}}</ng-container>
            </td>
    </tr>
    <tr>
        <td colspan="13" style="background-color: #d4e8fa;height: 20px !important;">
             <div class="d-flex flex-row" style="align-items: center;justify-content: center;height: 20px !important;">
                <p class="pt-3 px-3">Higher relevance</p>
                <div class="mx-2" style="height:15px; width:20px; background-color: #89CFF0;"></div>
                <div class="mx-2" style="height:15px; width:20px; background-color: #6CB4EE;"></div>
                <div class="mx-2" style="height:15px; width:20px; background-color: #5072A7;"></div>
                <div class="mx-2" style="height:15px; width:20px; background-color: #318CE7;"></div>
                <div class="mx-2" style="height:15px; width:20px; background-color: #0039a6;"></div>
                <p class="pt-3 px-3">Lower relevance</p>
             </div>
        </td>
    </tr>
    </table>
    </div>
    <div class="px-4" style="display: flex; justify-content: end;">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" >Generate Report</button>
    </div>
    
    
    
</div>


<div id="clusterAnalysisComponent">

  <!-- <app-cluster-analysis></app-cluster-analysis> -->

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
     <div class="d-flex flex-column"  style="display: flex; justify-content: center;align-items: center;">
        <i class="bi bi-file-earmark-text-fill m-1 rounded-pill" style="border-radius: 50%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
              </svg>
        </i>
        <h3><b>Generate Report</b></h3>
    
        <button class="btn btn-primary" style="width:20em" (click)="downloadPDF()" >Download Report</button>
    </div>
        </div>
        <div class="modal-footer">
         
        </div>
      </div>
    </div>
  </div>