td{
    padding:1em;  
    font-weight: bold;
    /* border:3px solid blue */
}
/*.diagonal-cell {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Cpolygon fill='aqua' points='0,0 2,2 0,2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
*/
 
.mx-2 table{
    border-collapse:separate;
    border-spacing: 3px;
   
}
 