<div>
    <div class="heading p-2" style="width:100%;background-color: white;">
        <p class="heading">Product Characteristics</p>
    </div>
    <div class="body d-flex flex-column">
        <div class="row1 d-flex flex-row p-2" style="width:100%">
            <div class="card d-flex flex-column m-2">
                <div class="cardHeading">
                    <p class="cardHeadingText">Clarifying Shampoo</p>
                </div>
                <div class="cardCotent">
                    <table>
                        <thead>
                            <tr>
                                <th>Basic</th>
                                <th>Premium</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tab of tabContent">
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div class="name" style="width: 50%;">{{tab.name}}</div>
                                        <div class="rounded-pill">{{tab.value}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div style="width: 50%;">{{tab.name1}}</div>
                                        <div class="rounded-pill">{{tab.value1}}</div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>




            </div>
            <div class="card d-flex flex-column m-2">
                <div class="cardHeading">
                    <p class="cardHeadingText">Clarifying Shampoo</p>
                </div>
                <div class="cardCotent">
                    <table>
                        <thead>
                            <tr>
                                <th>Basic</th>
                                <th>Premium</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tab of tabContent">
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div class="name" style="width: 50%;">{{tab.name}}</div>
                                        <div class="rounded-pill">{{tab.value}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div style="width: 50%;">{{tab.name1}}</div>
                                        <div class="rounded-pill">{{tab.value1}}</div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card d-flex flex-column m-2">
                <div class="cardHeading">
                    <p class="cardHeadingText">Clarifying Shampoo</p>
                </div>
                <div class="cardCotent">
                    <table>
                        <thead>
                            <tr>
                                <th>Basic</th>
                                <th>Premium</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tab of tabContent">
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div class="name" style="width: 50%;">{{tab.name}}</div>
                                        <div class="rounded-pill">{{tab.value}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div style="width: 50%;">{{tab.name1}}</div>
                                        <div class="rounded-pill">{{tab.value1}}</div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row1 d-flex flex-row justify-content-between p-2" style="width:100%">
            <div class="card d-flex flex-column m-2">
                <div class="cardHeading">
                    <p class="cardHeadingText">Clarifying Shampoo</p>
                </div>
                <div class="cardCotent">
                    <table>
                        <thead>
                            <tr>
                                <th>Basic</th>
                                <th>Premium</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tab of tabContent">
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div class="name" style="width: 50%;">{{tab.name}}</div>
                                        <div class="rounded-pill">{{tab.value}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div style="width: 50%;">{{tab.name1}}</div>
                                        <div class="rounded-pill">{{tab.value1}}</div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>




            </div>
            <div class="card d-flex flex-column m-2">
                <div class="cardHeading">
                    <p class="cardHeadingText">Clarifying Shampoo</p>
                </div>
                <div class="cardCotent">
                    <table>
                        <thead>
                            <tr>
                                <th>Basic</th>
                                <th>Premium</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tab of tabContent">
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div class="name" style="width: 50%;">{{tab.name}}</div>
                                        <div class="rounded-pill">{{tab.value}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div style="width: 50%;">{{tab.name1}}</div>
                                        <div class="rounded-pill">{{tab.value1}}</div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card d-flex flex-column m-2">
                <div class="cardHeading">
                    <p class="cardHeadingText">Clarifying Shampoo</p>
                </div>
                <div class="cardCotent">
                    <table>
                        <thead>
                            <tr>
                                <th>Basic</th>
                                <th>Premium</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tab of tabContent">
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div class="name" style="width: 50%;">{{tab.name}}</div>
                                        <div class="rounded-pill">{{tab.value}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-row p-2">
                                        <div style="width: 50%;">{{tab.name1}}</div>
                                        <div class="rounded-pill">{{tab.value1}}</div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>