

<div class="d-flex flex-column" id = "content" #content >
  <div class="row1 d-flex flex-row p-2" style="width:100%;background-color: white;">
    <div style="width:60%">
      <p class="heading">Algorithm Selection</p>
    </div>
   
  </div>
  <p class="text px-2 py-1">Please select the algorithm to run the clustering</p>
   <div class="d-flex flex-row" style="width:100%">
    <div style="width:32%" class="mx-2">
      <mat-accordion>
        <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex flex-row" style="width:100%">
                <select style="border:none; color:  #3F7FFF;font-family: Outfit;font-size: 14px;font-weight: 500;" 
                (click)="runButtonClicked($event)" class="hide-dropdown-icon" [(ngModel)]="selectedAlgorithm">
                  <option value="option" selected>Select Algorithm</option>
                  <option value="option1" >K-Means</option>
                  <option value="option2">Agglomerative Clustering</option>
                  <option value="option3">DBSCAN</option>
                  <option value="option4">BIRCH</option>
                  <option value="option4">Affinity Propagation</option>
                  <option value="option4">Mini-Batch K-Means</option>
                  <option value="option4">Mean Shift</option>
                  <option value="option4">OPTICS</option>
                  <option value="option4">Spectral Clustering</option>
                  <option value="option4">Mixture of Gaussians</option>
                </select>
                
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div style="width:80%"></div>
             <div style="display: flex;justify-content: end;width:20%">
              <button type="button" style="height:30px;align-items: center;display:flex;font-size: 14px;
              font-family: Roboto;
              font-style: normal;
              font-weight: 400;background-color:#7672ED;color:white" (click)="runButtonClicked1($event)"
              [disabled]="!selectedAlgorithm || !selectedInitMethod || !selectedClusterRange || !selectedIterations" class="btn btn-light">Run</button>
             </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="overflow-y: scroll;height:57vh">
            <div class="d-flex flex-column">
            <label class="lab">Init Method</label>
            <select class="drop" [(ngModel)]="selectedInitMethod">
              <option value="" ></option>
              <option value="option1">KMeans++</option>
            </select>
          </div>
         <div class="d-flex flex-row" style="width:100%">
            <div class="d-flex flex-column px-1" style="width:50%">
              <label class="lab">Cluster Range</label>
            <input  [(ngModel)]="selectedClusterRange" class="drop" type="text" placeholder="">
            </div>
            <div class="d-flex flex-column px-1" style="width:50%">
              <label class="lab"># of iterations</label>
            <input  [(ngModel)]="selectedIterations" class="drop" type="text" placeholder="">
            </div>
         
       
         </div>
         
          <div *ngIf="clickbutton" class="p-1"style="background-color: #F8F8F8;width:100%;">
           
              <div class="card border-0 " style="background-color: white;margin:1em;">
                
                <div   id="chart" class="py-0 my-0">
                  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid"
                    [stroke]="chartOptions.stroke" [title]="chartOptions.title" [tooltip]="chartOptions.tooltip"></apx-chart>
                </div>
              
              </div>
              <div class="d-flex flex-column" style="width:50%">
                <label class="lab"># of clusters</label>
              <input class="drop" type="text" placeholder="">
              </div>
            
          </div>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
   
    <div style="width:32%" class="mx-3">
      <mat-accordion>
        <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex flex-row" style="width:100%">
                <select style="border:none; color:  #3F7FFF;font-family: Outfit;font-size: 14px;font-weight: 500;" 
                (click)="runButtonClicked($event)" class="hide-dropdown-icon" [(ngModel)]="selectedAlgorithm1">
                <option value="option" >Select Algorithm</option>
                <option value="option2">Agglomerative Clustering</option>
                <option value="option1" >K-Means</option>          
                <option value="option3">DBSCAN</option>
                <option value="option4">BIRCH</option>
                <option value="option4">Affinity Propagation</option>
                <option value="option4">Mini-Batch K-Means</option>
                <option value="option4">Mean Shift</option>
                <option value="option4">OPTICS</option>
                <option value="option4">Spectral Clustering</option>
                <option value="option4">Mixture of Gaussians</option>
                </select>
                
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div style="width:80%"></div>
             <div style="display: flex;justify-content: end;width:20%">
              <button type="button" style="height:30px;align-items: center;display:flex;font-size: 14px;
              font-family: Roboto;
              font-style: normal;
              font-weight: 400;background-color:#7672ED;color:white" (click)="runButtonClickedDendro($event)" 
              [disabled]="!selectedAlgorithm1 || !selectedClusteringMethod1 || !selectedClusterMetric "  class="btn btn-light">Run</button>
             </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="overflow-y: scroll;height:57vh" >
            <div class="d-flex flex-column">
            <label class="lab">Clustering Method</label>
            <select class="drop" [(ngModel)]="selectedClusteringMethod1">
              <option value=""></option>
              <option value="option1" selected>Ward</option>
              <option value="option2">Complete</option>
              <option value="option3">Single</option>
            </select>
          </div>
          <div class="d-flex flex-column my-1">
            <label class="lab">Metric</label>
            <select class="drop" [(ngModel)]="selectedClusterMetric">
              <option value=""></option>
              <option value="option1" selected>Euclidean</option>
              
             
            </select>
          </div>
        
         
          <div class="p-1"style="background-color: #F8F8F8;width:100%;" *ngIf="clickbuttonDendro">
           
              <div class="card border-0 " style="background-color: white;margin:1em;">
                
                <div >
                  <p class="px-2 dendo">Dendrogram</p>
                  <img *ngIf="imageSource" [src]="imageSource" width="250px" height="170px" alt="">
                </div>
              
              </div>
              <div class="d-flex flex-column" style="width:50%">
                <label class="lab"># of clusters</label>
              <input class="drop" type="text" placeholder="">
              </div>
            
          </div>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div style="width:32%"class="mx-2" >
      <mat-accordion>
        <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex flex-row" style="width:100%">
                <select style="border:none; color:  #3F7FFF;font-family: Outfit;font-size: 14px;font-weight: 500;" 
                (click)="runButtonClicked($event)" class="hide-dropdown-icon" [(ngModel)]="selectedAlgorithm2">
                  <option value="option" >Select Algorithm</option>
                  <option value="option3">DBSCAN</option>
                <option value="option2">Agglomerative Clustering</option>
                <option value="option1" >K-Means</option>          
                
                <option value="option4">BIRCH</option>
                <option value="option4">Affinity Propagation</option>
                <option value="option4">Mini-Batch K-Means</option>
                <option value="option4">Mean Shift</option>
                <option value="option4">OPTICS</option>
                <option value="option4">Spectral Clustering</option>
                <option value="option4">Mixture of Gaussians</option>
                </select>
                
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div style="width:80%"></div>
             <div style="display: flex;justify-content: end;width:20%">
              <button type="button" style="height:30px;align-items: center;display:flex;font-size: 14px;
              font-family: Roboto;
              font-style: normal;
              font-weight: 400;background-color:#7672ED;color:white" (click)="runButtonClickedDB($event)" 
               [disabled]="!selectedAlgorithm2 || !selectedParam" class="btn btn-light">Run</button>
             </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="overflow-y: scroll;height:57vh">
            <div class="d-flex flex-column" style="padding-bottom: 2.5em;" >
            <label class="lab">Param1</label>
            <select class="drop" [(ngModel)]="selectedParam">
              <option value="" ></option>
              <option value="option1" >8</option>
             
            </select>
          </div>
         
         
          <div class="p-1"style="background-color: #F8F8F8;width:100%;" *ngIf="clickbuttonDB">
           
              <div class="card border-0 " style="background-color: white;margin:1em;">
                
                <div id="chart1">
                  <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [xaxis]="chartOptions1.xaxis"
                    [yaxis]="chartOptions1.yaxis" [dataLabels]="chartOptions1.dataLabels" [grid]="chartOptions1.grid"
                    [stroke]="chartOptions1.stroke" [title]="chartOptions1.title"
                    [tooltip]="chartOptions1.tooltip"></apx-chart>
                </div>
              
              </div>
              <div class="d-flex flex-row"  style="width:10px">
                <div  >
                  <label class="lab">EPS Value</label>
                 <input class="drop" style="width:140px" type="text" placeholder="">
                </div>
                <div   style="width:80px;">
                  <label style="margin-left:10px" class="lab">Min Samples</label>
                 <input class="drop" style="width:140px;margin-left:10px" type="text" placeholder="">
                </div>
              </div>
            
          </div>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
   
   </div>
  <div class="sticky-bottom p-1" >
    <button (click)="gotoClusterAnalysis()" type="button" class="btn btn-light btn1">Cluster Analysis
      <i class="bi bi-arrow-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="26" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </i>
    </button>
  
  </div>
</div>





<!-- <div class="row2">
  <div class="px-2 d-flex flex-row" style="width:40%;display: flex; justify-content: end;">
    <div class="px-2" >
    </div>
    <div>
        <button (click)="gotoClusterAnalysis()" type="button" class="btn btn-primary">Run Cluster Analysis</button>
    </div>
  </div>
  <p class="text px-3 py-1">Please select the algorithm to run the clustering</p>
  <div class="d-flex flex-row mx-2" style="width:100%">
   <div class="mx-1 pb-0 mb-0" style="width:33%">
    <mat-accordion>
      <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex flex-row" style="width:100%">
              <section class="example-section" (click)="runButtonClicked($event)">
                <mat-form-field>
                  <mat-label class="custom-label">K Means</mat-label>
                  <mat-select class="custom-select" [(ngModel)]="rowData1.selected">
                    <mat-option value="kMeans">K Means</mat-option>
                  
                  </mat-select>
                </mat-form-field>
              </section>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div style="width:80%"></div>
           <div class="pt-2" style="display: flex;justify-content: end;width:20%">
            <button type="button" style="height:30px;align-items: center;display:flex;font-size: 14px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;color:#7672ED;color:white" (click)="runButtonClicked($event)" class="btn btn-primary">Run</button>
           </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field style="width:100%">
            <mat-label>Init Method </mat-label>
            <mat-select [(ngModel)]="rowData1.initMethod">
              <mat-option *ngFor="let val of init" [value]="val.value">
                {{val.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      <div class="d-flex flex-row py-0 my-0" style="width:100%">
        <div class="mx-1"style="width:50%">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Cluster Range</mat-label>
            <input matInput [(ngModel)]="rowData1.clusterRange">
          </mat-form-field>
        </div>
        <div style="width:50%" class="py-0 my-0">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label># of Iterations</mat-label>
            <input matInput [(ngModel)]="rowData1.numIterations">
          </mat-form-field>
        </div>
      </div>
        <div id="chart" class="py-0 my-0">
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid"
            [stroke]="chartOptions.stroke" [title]="chartOptions.title" [tooltip]="chartOptions.tooltip"></apx-chart>
        </div>
        <div class="d-flex flex-row px-1 py-0 my-0" style="width:100%">
          <mat-form-field clss="py-0 my-0" appearance="outline" style="width:50%">
            <mat-label>EPS Value</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="px-1 py-0 my-0" appearance="outline" style="width:50%">
            <mat-label>Min Samples</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
   </div>
   <div  class="mx-1" style="width:33%">
    <mat-accordion>
      <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex flex-row" style="width:100%">
              <section class="example-section " (click)="runButtonClicked($event)">
                <mat-checkbox class="example-margin" color="primary" [(ngModel)]="rowData2.selected">Agglomerative
                  Hierarchical</mat-checkbox>
              </section>
              
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div style="width:80%"></div>
           <div  style="display: flex;justify-content: end;width:20%">
            <button type="button" (click)="runButtonClicked($event)" style="height:30px;align-items: center;display:flex" class="btn btn-primary">Run</button>
           </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <mat-label>clustering Method </mat-label>
            <mat-select [(ngModel)]="rowData2.clusteringMethod">
              <mat-option *ngFor="let val of clust" [value]="val.value">
                {{val.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div >
          <h3 class="px-2"><b>Dendrogram</b></h3>
          <div  class="pt-3"  id="dendrogram"></div>
        </div>
        <div  class="px-2 py-4 my-2">
          <mat-form-field appearance="outline">
            <mat-label># of Cluster</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
   </div>
   <div class="mx-1" style="width:33%">
    <mat-accordion>
      <mat-expansion-panel  [expanded]="true" style="overflow-y: hidden;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex flex-row" style="width:100%">
              <section class="example-section" (click)="runButtonClicked($event)">
                <mat-checkbox class="example-margin" color="primary" [(ngModel)]="rowData3.selected">DB Scan</mat-checkbox>
              </section>
              
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div style="width:80%"></div>
           <div  style="display: flex;justify-content: end;width:20%">
            <button type="button" (click)="runButtonClicked($event)" style="height:30px;align-items: center;display:flex" class="btn btn-primary">Run</button>
           </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Param1</mat-label>
            <input matInput [(ngModel)]="rowData3.param1">
          </mat-form-field>
        </div>
        <div id="chart1">
          <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [xaxis]="chartOptions1.xaxis"
            [yaxis]="chartOptions1.yaxis" [dataLabels]="chartOptions1.dataLabels" [grid]="chartOptions1.grid"
            [stroke]="chartOptions1.stroke" [title]="chartOptions1.title"
            [tooltip]="chartOptions1.tooltip"></apx-chart>
        </div>
        <div class="d-flex flex-row px-2 py-4" style="width:100%">
          <mat-form-field appearance="outline" style="width:50%">
            <mat-label>EPS Value</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="px-1" appearance="outline" style="width:50%">
            <mat-label>Min Samples</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
   </div>
  </div>
</div> -->