 .mat-tab-group {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #f2f2f2;
    /* overflow: scroll; */
  }
  
   .buttonNext{
    position:fixed;
    z-index:1;
    bottom:1px;
    right:0px;
    background-color: white;
   }
   
  
  /*.mat-tab-body-content:hover {
    overflow: auto;
    height: calc(100vh - 20px); 
  }
   */
  
   
  

  
   
  
th{
    color: white;
font-size: 14px;
font-family: Outfit;
font-style: normal;
font-weight: 500;
text-align: center;
}
td{
color: #222;
font-size: 14px;
font-family: Outfit;
font-style: normal;
font-weight: 500;
text-align: center;
}
.table-content{
  max-height:500px;
  overflow-y: scroll !important;
}

table{
  /* #23468C; */
  width:100%;
  table-layout: fixed;
}
thead{
  position: sticky;
  top:-16px;
}
.modal-dialog{
  height:600px;
  width:1000px;
  overflow: hidden;
  position:relative;
}
*::-webkit-scrollbar {
  width: 3px !important;
}
*::-webkit-scrollbar-track {
  background: transparent !important;
}
*::-webkit-scrollbar-thumb {
  background-color: #6599ff !important;
  border-radius: 20px !important;
 
  border: 1px solid #6599FF !important;
}
.heading{
  font-size: 20px;
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
}
h4{
  color: #222;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
}

.modal-title{
  font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
}